{% extends "basic/base.html" %}

{% block content %}
	{% if addform and user.is_authenticated and user.is_staff %}
		<h2 style="text-align: center">Adicionar Produto</h2>
		<hr />

		{% if addform.error_dict %}
			<p style="color: red;">Por favor, corrija os erros abaixo.</p>
		{% endif %}

		<form action="." method="POST">
			{% csrf_token %}
			<table align="center">
				<tr>
					<td align="left"><label for="id_name">Nome:</label></td><td> {{ addform.name }}</td>
					{% if addform.name.errors %}
						<td style="color: red;">{{ addform.name.errors }}</td>
					{% endif %}
				</tr>

				<tr>
					<td align="left"><label for="id_price">Pre&ccedil;o:</label></td><td> {{ addform.price }}</td>
					{% if addform.price.errors %}
						<td style="color: red;">{{ addform.price.errors }}</td>
					{% endif %}
				</tr>

				<tr>
					<td align="left"><label for="id_units">Numero de Unidades:</label></td><td> {{ addform.units }}</td>
					{% if addform.units.errors %}
						<td style="color: red;">{{ addform.units.errors }}</td>
					{% endif %}
				</tr>

				<tr>
					<td align="left"><label for="id_brand">Marca:</label></td><td>{{ addform.brand }}</td>
					{% if addform.brand.errors %}
						<td style="color: red;">{{ addform.brand.errors }}</td>
					{% endif %}
				</tr>

				<tr>
					<td align="left"><label for="id_category">Categoria e Tipo:</label></td><td>{{ addform.ptype }}</td>
					{% if addform.ptype.errors %}
						<td style="color: red;">{{ addform.ptype.errors }}</td>
					{% endif %}
				</tr>

				<tr>
					<td colspan="2"><input type="submit" value="Cadastrar" /> - <a href="../editcategories/">Gerenciar Categorias/Marcas</a></td>
				</tr>
			</table>
		</form>
	{% else %}
		<h2 style="text-align: center">
			{% if not user.is_staff %}
				Você não deveria estar aqui...<br>
				<a href="/">voltar</a>
			{% else %}
				Produto Adicionado!
			{% endif %}
		</h2>
		<hr/>
	{% endif %}
{% endblock %}
