{% extends "basic/base.html" %}

{% block style %}
    {{ block.super }}
    <link rel=Stylesheet href="/static/styles/products/list_products.css" type="text/css">
{% endblock %}

{% block content %}

    <form action="/search/" method="GET">
        <table align="center">
            <tr>
                <th> Busca: </th>
                <th colspan="2"> <input type="text" name="searchField" value="" /> </th>
                <th colspan="2"> <input type="submit" value="Buscar" /> </th>
            </tr>
            <tr>
                <th> Busca por: </th>
                <th> Nome <input type="radio" name="searchBy" value="name" checked /> </th>
                <th> Tipo <input type="radio" name="searchBy" value="type" /> </th>
                <th> Categoria <input type="radio" name="searchBy" value="category" /> </th>
                <th> Marca <input type="radio" name="searchBy" value="brand" /> </th>
            </tr>
        </table>
    </form>

    <form action="/user/cart/" method="POST">
    {% csrf_token %}

        <table id="product_list" align="center" cellpadding="10" border="0">
            <tr align="center" id="header">
                <th> Nome </th>
                <th> Preço </th>
                <th> Em estoque </th>
                <th> Tipo </th>
                <th> Categoria </th>
                <th> Marca </th>
                <th> Adicionar ao Carrinho </th>
            </tr>

            {% for obj in objects %}
                <tr align="center" class="{% cycle "" "odd" %}">
                    <td> {{ obj.name }} </td>
                    <td> {{ obj.price }} </td>
                    <td> {{ obj.instock }} </td>
                    <td> {{ obj.ptype.name }} </td>
                    <td> {{ obj.ptype.category.name }} </td>
                    <td> {{ obj.brand.name }} </td>
                    <td> <input type="checkbox" name="checkbox_{{obj.id}}" /> </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="7"><input type="submit" name="Pronto" value="Pronto"/></td>
            </tr>
        </table>
    </form>
{% endblock %}
