{% extends "basic/base.html" %}

{% block style %}
    {{ block.super }}
    <link rel=Stylesheet href="/static/styles/products/list_products.css" type="text/css">
{% endblock %}

{% block content %}

    <form action="{{ request.path }}" method="GET">
        <table align="center">
            <tr>
                <th> Busca: </th>
                <th colspan="2"> <input type="text" name="searchField" value="" /> </th>
                <th colspan="2"> <input type="submit" value="Buscar" /> </th>
            </tr>
            <tr>
                <th> Busca por: </th>
                <th> Nome <input type="radio" name="searchBy" value="name" checked /> </th>
                <th> Tipo <input type="radio" name="searchBy" value="type" /> </th>
                <th> Categoria <input type="radio" name="searchBy" value="category" /> </th>
                <th> Marca <input type="radio" name="searchBy" value="brand" /> </th>
            </tr>
        </table>
    </form>

    <table id="product_list" align="center" cellpadding="10" border="0">
        <tr align="center" id="header">
            <th> Nome </th>
            <th> Preço </th>
            <th> Em estoque </th>
            <th> Tipo </th>
            <th> Categoria </th>
            <th> Marca </th>

            {% if not user.is_staff %}
                <th> Adicionar ao Carrinho </th>
            {% endif %}
        </tr>

        {% for obj in objects %}
            <tr align="center" class="{% cycle "" "odd" %}">
                <td><a href="{{ obj.pk }}">{{ obj.name }}</a></td>
                <td> {{ obj.price }} </td>
                <td> {{ obj.instock }} </td>
                <td> {{ obj.ptype.name }} </td>
                <td> {{ obj.ptype.category.name }} </td>
                <td> {{ obj.brand.name }} </td>
                {% if not user.is_staff %}
                    <td>
                        <form action="/user/cart/add" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{obj.id}}" />
                            <input class="quantity_textbox" type="text" name="quantity" value="1" />
                            <input type="submit" value="Adicionar" />
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
