table#product_list tr td {
	color: #01309b;
	background-color: #dadee5;
}

table#product_list tr#header {
	color: #00133f;
	background-color: #6f81ac;
}

table#product_list tr.odd {
	background-color: #a6acc3;
}
