{% extends "basic/base.html" %}

{% block style %}
    {{ block.super }}
    <link rel=Stylesheet href="/static/styles/products/list_products.css" type="text/css">
{% endblock %}

{% block content %}
    <h2> Carrinho de Compras </h2>
    <hr />

    <form action="update" method="POST">
        {% csrf_token %}
        <table align="center" cellpadding="10" border="0">
            {% if cartprods %}
                <tr align="center" style="color: #00133f; background: #6f81ac;">
                    <th> Nome </th>
                    <th> Preço </th>
                    <th> Em estoque </th>
                    <th> Tipo </th>
                    <th> Categoria </th>
                    <th> Marca </th>
                    <th> Quantidade </th>
                </tr>

                {% for i in cartprods %}
                    <tr align="center" style="color: #01309b; background: #dadee5;">
                        {% with i.product as p %}
                            <td> {{ p.name }} </td>
                            <td> {{ p.price }} </td>
                            <td> {{ p.instock }} </td>
                            <td> {{ p.ptype.name }} </td>
                            <td> {{ p.ptype.category.name }} </td>
                            <td> {{ p.brand.name }} </td>
                        {% endwith %}
                        <td><input type="textfield" name="quantity_{{i.pk}}" value="{{i.num_prods}}"/></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="8"> <input type="submit" name="alterar" value="Alterar" /> </td>
                </tr>
            {% else %}
                <tr><td><strong> Carrinho está vazio! </strong></td></tr>
            {% endif %}
        </table>
    </form>
{% endblock %}
